@(message: String)

@message

<dl>
<dt>Para consultar movimiento  de un productos</dt>
<dd> product/{:idProduct}/movements  donde  idProduct para pruebas puede tomar valor de 1, 2 3,4,5 y 6</dd>
</dl>
<br>
<dl>
<dt>Para consultar productos dado  tipo y numero de documento</dt>
<dd>/user/{documentType}/{documentoNumber}/products     donde documentType puede ser  cc ó ce... y documentNumber puede ser 123 ó 456</dd>
</dl>

<dl>
<dt>Otra forma Para consultar productos dado  tipo y numero de documento (la ruta es con productos no con products)</dt>
<dd>/user/{documentType}/{documentoNumber}/productos     donde documentType puede ser  cc ó ce... y documentNumber puede ser 123 ó 456</dd>
</dl>

<dl>
<dt>Para consultar productos de un usuario desde legacy</dt>
<dd>/legacy/products/{documentType}/{documentoNumber}  documentType = cc documentoNumber = 789456123</dd>
</dl>

<dl>
<dt>Para autenticación</dt>
<dd>/login </dd>
<dd>Debe usar método POST</dd>
<dd>Debe enviar en el body del request la siguiente información</dd>
<dd>key : value</dd>
<dd>email : flameAdmin arroba flame.com</dd>
<dd>password : F14M3</dd>
<dd>Este servisio retorna un token JWT, el cual en el body</dd>
<dd>contendrá la siguiente informaición</dd>
<dd>{</dd>  
<dd>"iss": "spinnerbank-api-internal.herokuapp.com",</dd>
<dd>"role": "user",</dd>
<dd>"email": "flameAdmin arroba flame.com",</dd>
<dd>"id": "10122015"</dd>
<dd>}</dd>
</dl>

